<h1>Signup</h1>
<form action="/signup" method="post">

  <label for="givenName">First Name</label>
  <input name="givenName" type="text" autocomplete="off"/>
  <br/>

  <label for="middleName">Middle Name</label>
  <input name="middleName" type="text" autocomplete="off"/>
  <br/>

  <label for="lastName">Last Name</label>
  <input name="lastName" type="text" autocomplete="off"/>
  <br/>

  <label for="username">Username</label>
  <input name="username" type="text" autocomplete="off"/>
  <br/>

  <label for="email">Email</label>
  <input name="email" type="text" autocomplete="off"/>
  <br/>

  <label for="password">Password</label>
  <input name="password" type="password" autocomplete="off"/>
  <br/>

  <input type="submit"/>
</form>

<h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
<% if (typeof data === 'undefined') { %>
  <h1><code>data</code> was not defined in the view locals.</h1>
<%
}
else { %>
  <h1><code>data</code> in the view locals contains the following:</h1>
  <code>
    <%- JSON.stringify(data) %>
  </code>
<% } %>
