<tr>
  <td class="hidden-xs hidden-sm"><%= model.attributes.id %></td>
  <td class="name"><%= model.attributes.name %></td>
  <td class="actions">
    <div class="btn-group">
      <a href="#admin/permission/edit/<%= model.attributes.id %>" type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      </a>
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="#admin/permission/edit/<%= model.attributes.id %>">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
          </a>
        </li>
        <li>
          <a href="#admin/permission/delete/<%= model.attributes.id %>">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          </a>
        </li>
      </ul>
    </div>
  </td>
</tr>