<section class="table-responsive">
  <h3>
    <%= data.title || title %>
    <a href="#admin/role/create" class="btn btn-default pull-right">
      <span class="glyphicon glyphicon-plus"></span>
      New
    </a>
    <span class="search-container pull-right">
      <input name="search" type="text" placeholder="Search" class="form-control pull-left">
      <button class="close" type="button">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
      </button>
      <button class="search btn btn-default pull-left" type="submit">Search</button>
    </span>
    
  </h3>
  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="hidden-xs hidden-sm">ID</th>
          <th data-attrib="name" class="name sortable sorting asc">
            Name
            <span class="glyphicon glyphicon-chevron-up"></span>
            <span class="glyphicon glyphicon-chevron-down"></span>
          </th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody data-region data-id="TableBody">
        
      </tbody>
      <tfoot>
        <tr class="pagination-info">
          <th colspan="100%"></th>
        </tr>
      </tfoot>
    </table>
  </div>
  <region data-id="AdminRoleListPaginator"></region>
</section>

<region data-id="AdminRoleListEditModal"></region>
<region data-id="AdminRoleListDeleteModal"></region>
